body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: #A1A9B0;
  padding: 1em;
}
