body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: #A1A9B0;
  padding: 1em;
}

.main{  
  display: flex;
  justify-content: space-around;
}

.left-side{
  width: 15%;
  display: flex;
  flex-direction: column;
  padding: 2em;
}

.about{
  background-color: #F8F9FA;
}

.archives{
  padding-top: 1em;
}

.middle-article{  
  width: 32%;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.img-thumbnail{
  background-color: #55595C;
  padding: 3em;
  text-align: center;
  color: #C1C4C6;
}

.article{
  border: 1px solid #F2F2F2;
  box-shadow: 0 0 2px gray;
  padding: 1em;
  margin-bottom: 1em;
}

.href{
  color: #3F97FE;
}

.right-article{  
  width: 32%;
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.login{
  width: 18%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form{
  padding: 2em;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input{
  padding: 0.5em;
  border: none;
  border-radius: 0.3em;
  margin: 0.1em;
}

.sign-button{
  background-color: #017CFF;
  color: white;
  padding: 1em;
  margin-top: 1em;
  border: none;
  border-radius: 0.3em;
}

.footer{
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F2F2F2;
}

.footer p{
  margin: 0;
  padding: 0;
}